.container .title {
  color: #f7d354;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252525;
  padding: 1rem;
  border-radius: 10px;
}

.movies-container div img {
  max-width: 100%;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.movies-container div h2 {
  margin-bottom: 1.5rem;
}

.movies-container div svg {
  color: #f7d354; 
}

.movies-container div a {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 10px;
  color: #000;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;  
}

.movies-container div a:hover {
  background-color: transparent;
  color: #f7d354;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f7d354;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #121212;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #f7d354;
  /* creates padding around scroll thumb */
}